#fillCont{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    width: 100vw;
}

.fillright{
    /* background-color: lightgrey; */
    background-color: #243238;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}

.fillleft{
    position: relative;
}

.fillNumber{
    width: 60px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 4px lightgray;
}
.fillright-desc{
    margin: 10px auto;
    color: white;
    display: flex;
    flex-direction: column;
}
.color-desc{
    color: white;
    display: flex;
    flex-direction: row;

}
.color-span{
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.questionCont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filltimer{
    background-color: whitesmoke;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    width: 60px;
    height: 60px;
    min-width: fit-content;
    display: grid;
    place-items: center;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.questionHeading{
    padding: 20px;
    font-size: 20px;
    line-height: 60px;
}

.questionStatement{
    padding: 0px 50px 30px 50px;
    color: white;
}
.question-complete{
    margin: 50px;
    margin-top: 100px;
    background-color: #243238;
    
    border-radius: 50px;
    box-shadow: 4px 4px 10px black;
}
.fillscore{
    color: #6fcd07;
}
.fillquesans{
    padding: 30px 20px;
}

.fillnextbtn{
    width: 200px;
    height: 50px;
    border: none;
    background-color: #243238;
    color: #6fcd07;
    border-radius: 10px;
    position: absolute;
    bottom: 90px;
    right: 60px;

}

.fillnextbtn:hover{
    box-shadow: 0px 0px 10px black;
    transform: scale(1.05);
}

.submittest{
    width: 80%;
    background-color: red;
    border:none;
    padding: 15px 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 4px lightgray;
    margin-bottom: 10px;
}
.fillright-desc{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 70%;
}