@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&family=Roboto+Slab:wght@300;400&family=Tiro+Kannada:ital@1&display=swap');

.scoreboardy{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    width: 100vw;
    background-color: lightslategray;
}
.scorecard{
    width: 40%;
    background-color: #243238;
    margin: 10px auto;
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    color: white;
    font-family: 'Roboto Slab', serif;
    justify-content: space-between;
    align-items: center;
}
.scorecard:hover{
    transform: scale(1.025);
    box-shadow: 2px 3px 10px lightgray;
}
.scorecard-name h4{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.scorecard-score h4{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.scorecardCont{
    padding-top: 20px;
}

.filter{
    background-color: #141414;
    color: white;
    border: none;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
}

.filter:focus{
    outline: none;
}

