@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&family=Tiro+Kannada:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&family=Roboto+Slab:wght@300;400&family=Tiro+Kannada:ital@1&display=swap');

*{
    padding: 0px;
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

#homeP{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: #243238;
}

::-webkit-scrollbar {
    width: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&display=swap");

*{
    padding: 0px;
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

#homeCont{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #243238;
}

.homebtn{
    width: 20vw;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 23px;    
    background-color: transparent;
    border: 2px solid #6fcd07;
    color: white;
    padding: 5px;
    font-family: 'Roboto Slab',serif;
}

.homebtn:hover{
    background-color: #6fcd0750;
    transform: scale(1.05);
}


#homeRight img{
    width: 80%;
    height: 80%;
    border-radius: 30px;
    /* padding-left: 40%; */
    margin-left: 20%;
    margin-top: 5%;
}




#header{
    display: flex;
    height: 12vh;
    font-size: 30px;
    justify-content: space-between;
    align-content: center;
    color: white;
    background-color: #141414;
}

.homeLog{
    display: flex;
}

.logo{
    height: 100%;
    margin-left: 20px;
    line-height: 11vh;
    font-size: 35px;
    align-self: center;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.quiz-logo{
    height: 70%;
    padding-left: 40px;
}

.username
{
    color: #6fcd07;
    font-size: 20px;    
    margin-right: 20px;
    align-self: center;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.logbtn{
    width: 10vw;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 20px;
    background-color: #6fcd07;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.logbtn:hover{
    box-shadow: 2px 2px 4px lightgray;
}

@media screen and (max-width:1200px) {
    .logbtn{
        font-size: 17px;
        width: 17vw;
    }
    #homeRight{
        width: 50vw;
    }

}

@media screen and (max-width:800px) {
    .logbtn{
        font-size: 17px;
        width: 25vw;
    }


    #homeRight{
        width: 50vw;
        padding: 20px;
        padding-top: 25px;
        font-size: 24px;
    }
    .homebtn{
        width: 30vw;
    }
    
    .logo{
        font-size: 27px;
    }

}


@media screen and (max-width:600px) {
    .logbtn{
        font-size: 17px;
        width: 30vw;
    }

    #homeCont{
        flex-direction: column-reverse;
        height: 90vh;
    }

    #homeRight{
        width: 90vw;
        padding: 20px;
        padding-top: 25px;
        font-size: 21.5px;
    }
    
    .homebtn{
        width: 50vw;
    }
    
    .logo{
        font-size: 25px;
    }

}



@media screen and (max-width:400px) {
    .logbtn{
        font-size: 15px;
        width: 30vw;
    }

    #homeCont{
        flex-direction: column-reverse;
        height: 90vh;
    }

    #homeRight{
        width: 90vw;
        padding: 20px;
        padding-top: 30px;
        font-size: 15px;
    }
    
    .homebtn{
        width: 50vw;
    }
    .logo{
        font-size: 17px;
    }

}