*{
	transition: all 0.5s;
}

.cover {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgb(0 0 0 / 0.24)
}

.dflex{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


body{
	overflow-x:hidden;
}

::-webkit-scrollbar {
	width: 0px;
  }


